<div class="title">
  <mat-card>
    <mat-card-content>{{title}} Total heroes votes: {{totalVotes}}</mat-card-content>
    <button mat-raised-button (click)="voteForAll()">Vote for all!</button>
  </mat-card>
</div>


<app-child-comp #child
*ngFor="let hero of heroList"
[hero]="hero" 
(voteUp)="voteFromChild($event)"
>
</app-child-comp>
   

<router-outlet>

  
</router-outlet>
